.h2T {
  margin-top: 0
}
.h2T:hover {
  color: red
}

.button {
  color: blue
}
.black {
  color: black
}
#fle {
  display:flex;
}
.myBtn {
  margin-left: 70px;
}
.imgId {
  border-radius:50%;
  height: 30px;
  margin-right: 20px;
  width: 30px;
}
.popup {
  text-align: center
}
.mybtn {
  height: 30px;
  border-radius: 12px;
  position: absolute;
  visibility: hidden;
  margin-top: 50px;
  right: 5px;
}
.hi {
  visibility: hidden
}
.replyDiv {
  margin-left: 50px
}
.smImg {
  border-radius:50%;
  height: 15px;
  margin-right: 20px;
  width: 15px;
}
.lgImg {
  border-radius:50%;
  height: 40px;
  margin-left: 70px;
  width: 40px;
}
.follow {
  border-radius:50%;
  height: 15px;
  margin-left: 80px;
  width: 15px;
}
span {
  padding-left: 10px;
}
