.h2T {
  font-size: 12px;
  color: #999;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.4;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}
.h2T:hover {
  color: black
}

.button {
  color: blue;
  font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.4;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}
.verylight {
  font-size: 11px;
  color: #ccc;
  font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.4;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}
.container {
  display:table;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  position: relative;
}
.black {
  color: black
}
#fle {
  display:flex;
}
.myBtn {
  margin-left: 70px;
}
.imgId {
  border-radius:50%;
  height: 40px;
  margin-right: 0px;
  width: 40px;
}
.popup {
  text-align: center
}
.commentTable {
  display: flex;
  margin-right: 10px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
  flex-direction: column;
}
.content {
  font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.4;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    color: #333;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.reply {
  font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.4;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    color: #333;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.point {
  font-size: 11px;
  color: #999;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.4;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}
.time {
  margin-left: 100px;
  font-size: 11px;
  color: #999;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.4;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}
.mybtn {
  height: 30px;
  border-radius: 12px;
  margin-left: 50px;
  visibility: hidden;
}
.hi {
  visibility: hidden
}
.replyDiv {
  margin-left: 0px
}
.smImg {
  border-radius:50%;
  height: 40px;
  margin-right: 0px;
  width: 40px;
}
.lgImg {
  border-radius:50%;
  height: 40px;
  margin-left: 70px;
  width: 40px;
}
.follow {
  border-radius:50%;
  height: 15px;
  margin-left: 80px;
  width: 15px;
}
span {
  padding-left: 10px;
}
